<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LEAP CODE</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body class="b1" style="margin-top: 0px; padding: 0px;">
  <div class="container content center padding" style="max-width:800px;margin-left:250px;" id="band" >
      <h2 class="w3-wide"style="align:center" >LEAP CODE</h2>
      <p class="w3-opacity"><i>Where Coders Are Born</i></p>
      <p class="w3-justify"> By connecting students all over the world to the best instructors, Udemy is helping individuals reach their goals and pursue their dreams.
  <br><br><br>
      </p>
      <div class="w3-row w3-padding-32" style="margin-left: 0px;padding: 0px;">
        <div class="w3-third">
            <h3 class="w3-wide" >Founder</h3>
            
          <p>Akbar Abbas is chief executive officer of LeapCode and a member of the company’s board of directors. 
            bringing more than 2 years of technology industry leadership, computer Software Develepment expertise, and executive management experience to his role with the company.
            Akbar Abbas graduated from Galgotia College in 2015, earning his bachelor’s degree in Information Technology</p>
          
        </div>
      
    
      </div>
    </div>
    <br><br><br><br><br>
    <div class="example1">
        <h3> 40K
            Students

            10K
            Courses

            5K
            Instructors
        
            245K
            Course enrollments

            300000 hours
            Minutes of video

            60+
            Languages

            4,00+
            Enterprise customers

            80%
            of Fortune 100 companies trust us for employee upskilling</h3>
        </div>
    
    <br>
    <br>   
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <footer id="mu-footer" role="contentinfo" style="margin-left: 80%">
        <div class="container1">
            <div class="mu-footer-area">
                <div class="mu-footer-top">
                   
                </div>
                <div class="mu-footer-bottom">
                    <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">LycanCorp</a>. All right reserved.</p>
                </div>
            </div>
        </div>

</footer>  <br>  
  </body>
<router-outlet></router-outlet>
